.absolute{
    position: absolute;
    right: 200px;
}
.relative{
    position: relative;
    right: 10px;
    bottom: 10px;
}
.fixed{
    position: fixed;
    right: 100px;
}
.margin{
    border: 1px solid gray;
    margin-top:100px;
}